 body{
        font-family: 'Hind Vadodara', sans-serif;
        overflow: auto;
        display: block;
        flex-direction: column;
        text-align: center;
        opacity: 1;
        transition: 2s opacity;
          }

body.fade-out {
    opacity: 0;
    transition: none;
}

div.intro{
  padding-top: 3%;
}


#clear{
   clear: both;
}

#inline{
  display:inline;
}

 a{
  text-decoration: none;
  color:rgb(40, 178, 252);
    } 

 a:hover{
 	color:rgb(62, 69, 214);
  font-size: 105%;
 }  

 h2{
  font-size: 22px;
 }


  .project,.exercise,.reading,.codecademy{
  float: left;
  width: 32%;
  display:block; 
  margin-bottom: 10px; 
  margin-left: 10px;
} 


 #hovereffct:hover{
    background-color:rgb(255, 246, 237);
   }

@media screen and (max-width: 1024px) {
   .project,.exercise,.reading,.codecademy{
   width: 48%;
   }

}

 @media screen and (max-width: 500px) {
    h2{
      font-size: 16px;
    }
    p{
      font-size: 13px;
    }

    .project,.exercise,.reading,.codecademy{
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
    }
    
 }
 
/*
.menu1,.menu2,.menu3,.menu4{
  text-align: center;
  float: left;
  height: 230px;
  width: 230px;
  display: block;
  border-style: solid transparent;
  border-radius: 50%;
}

.menu1{
  background-color: rgb(252, 208, 161); 
}

.menu2{
  background-color:;
  margin-left: -3%;
}

.menu3{
  background-color: #EFE9E7;
  margin-left: -3%;
}

.menu4{
  background-color: #DAE0F2;
  margin-left: -3%;
}
h3{
  position: relative;
  padding-top:30%;
}

*/