  body{
      font-family: 'Hind Vadodara', sans-serif;
      overflow: auto;
      display: flex;
      clear: both;
      flex-direction: column;
          }

     
     ul{
     	list-style: none;
     	text-shadow: 0.5px 0.5px rgba(158, 158, 158,0.5);
     }
     
     div.navigation ul li{
     	font-size: 20px;
     }
    

    h1, h3{
      font-family:"IM Fell English SC";
    }


    div.navigation{
       background-color: #fff;  
       color: #c0c5ce;
       z-index:10;
       position: fixed;
       display: block;
       width:100%;
       min-height: 60px;
       background-color: rgba(61, 65, 71,0.8);
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
     
     div.navigation ul li{
       margin-top: 1%;
       float: right;
       padding-right: 5%;
     }


     div.navigation ul li a{
         font-size: 17px;
         display:block;
         text-decoration: none;
         text-align: center;
         color: #c0c5ce;
      }

      .navigation:hover {
        background-color: rgba(61, 65, 71,0.9);
        }

     div.navigation ul li a:hover{
      font-size: 18px; 
      color: white;
     }

    div.coverimage{
      overflow: auto;
      display: block;
      min-width: 100%;
      height: 540px;
      background: url("coverimage.jpg") no-repeat;
      background-size:cover;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    div.columns{
      clear: both;
      display: block;
      margin-left: 17%;
      margin-top: 2%;
      text-decoration: none;
      font-size: 18px;
      color: rgb(56, 56, 56);
      line-height: 170%;
/*      min-height: 900px;*/
    }
   
    div.introduction{
      float: left;
      width: 33%;
      
    }

  div.education{
    margin-left: 6%;
    float: left;
      width: 33%;
  }

  hr {
  	clear: both;
  }

     div.footer{
      color: rgba(0,0,0,0.4);
      font-size: 77%;
      text-align: center;
      width: 100%;
    }

    div.footer a{
      text-decoration: none;
      color:rgb(149, 176, 219);
    }

button{
  text-align: center ;
}

   .container {
  width: 100%;
  text-align: center;
}
  
  .timeline {
  	display: none;
  }

  .timeline ul li {
  list-style-type: none;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.timeline ul li div {
  position: relative;
  width: 400px;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.timeline ul li:nth-child(odd) div:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 93%;
   border-top: 13px solid transparent;
   border-left: 26px solid rgb(149, 176, 219);
   border-bottom: 13px solid transparent;
}

.timeline ul li:nth-child(even) div:before {
   content:"";
   position: absolute;
   left: 100%;
   top: 93%;
   border-top: 13px solid transparent;
   border-right: 26px solid rgb(90, 90, 90);
   border-bottom: 13px solid transparent;
}


 .timeline ul li:nth-child(even) div {
  left: -450px;
}

 .timeline ul li:nth-child(odd) div {
  left: 26px;
}


@media screen and (max-width: 1024px) {
  .timeline ul li div {
    width: 230px;
  }
  .timeline ul li:nth-child(even) div {
    left: -279px; 
  }
  div.introduction, div.education{
    width: 100%;
    margin: 0;
   }
  div.coverimage{
          height: 300px;
        }
}


@media screen and (max-width: 480px) {
  .timeline ul li div {
    width: 100px;
  }
  .timeline ul li:nth-child(even) div {
    left: -148px; 
  }
  *{
    line-height: 110%;
    font-size: 8px;
  }

  div.introduction, div.education{
  	width: 100%;
  	margin: 0;
  }
   div.coverimage{
          height: 220px;
        }
}
   
