
*{
     box-sizing: border-box;
}

p,li{
	font-family: "Georgia", serif;
}

div.container{
	background-color: rgb(243, 235, 230);
    padding: 20px 0px;
    overflow: auto;
  
}

div.header{
    max-height: 90px;
    max-height: 300px;
	background-color: rgb(73, 80, 191);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

h1{
	color: white;
	text-indent: 10%;
	float: left;
}

.dropbtn2, .dropbtn3, .dropbtn4,  .dropbtn5 {
	 margin-top:2%;
	 font-size: 115%;
     float: left;
	 background-color:rgb(16, 24, 149);
     border: none;
}

div.navdropdown1> .dropdown-content{
	margin-top: 3.4%;
	margin-left: -1%;
}

div.navdropdown2> .dropdown-content{
	margin-top: 3.4%;
}

div.navdropdown3> .dropdown-content{
	margin-left: 18%;
	margin-top: 3.4%;
}

div.navdropdown4> .dropdown-content{
	margin-left: 24%;
	margin-top: 3.4%;
}


.navdropdown1:hover .dropdown-content {
    display: block;
}

.navdropdown2:hover .dropdown-content {
    display: block;
}

.navdropdown3:hover .dropdown-content {
    display: block;
}

.navdropdown4:hover .dropdown-content {
    display: block;
}

.dropbtn {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 5%;
    background-color:rgb(16, 24, 149);
    color: white;
    padding: 3px;
    min-width: 147px;
    min-height:40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*color change when hovering on direction */
.dropdown:hover .dropbtn {
    background-color: rgb(109, 114, 182);
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* mouse hover on links color change */
.dropdown-content a:hover {background-color:rgb(109, 114, 182);}

.dropdown-content {
    z-index: 20;
    display: none;
    position: absolute;
    margin-left: 8%;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* altering the appeareance of links inside the dropdown */
.dropdown-content a {
    overflow: scroll;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

div.navigation_bar{
     background-color:rgb(16, 24, 149);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.navbar{
    overflow: hidden;
    text-align: center;
    margin-left: 30%;
}

li:hover {background-color:rgb(109, 114, 182);}

li{
    cursor: pointer;
    display: inline;
    float:left;
    padding: 2%;
}

li a{
	 font-family: "Airal", sans-serif;
    color:white;
    display:block;
    text-decoration: none;
    padding: 3px;
}

div.subcol, div.subcol2{
    margin-left: 3%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:rgb(83, 85, 89);
    text-align: center;
    padding: 10px 10px;
    position: relative;
    border-radius: 3px;
/*    margin: 3em 3em;*/
  
    max-width: 23%;
    min-height: 580px;
    background-color: rgb(230, 232, 237);
    float: left;
}

div.headline{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: rgb(83, 85, 89);
    text-align: center;
    padding: 10px 10px;
    margin-left: 3%;
    float: left;
    border-radius: 3px;
    max-width: 43%;
    min-height: 580px;
    background-color: rgb(230, 232, 237);
}

.subcol a{
    font-size: 120%;
    color:rgb(16, 24, 149) ;
    text-decoration: none;
}

div.news{
-webkit-column-count: 3   
}

ul{
    list-style-type: none;
}


