body{
	font-family: 'cursive', sans-serif;
}
body{
	background-color: rgb(230,200,200);
}
ul,li{
    background-color: rgb(240,210,200);
}
h1{ 
     background-color: rgb(240,210,200)   
 }
p{
	background-color: rgb(240,210,200)
}