
.container{
	text-align: center;

}

button{
	color:white;
	background-color:rgb(44, 127, 163);
	font-size: 16px;

	height: 100px;
	width: 150px;
	margin: 3%;
	border:0;
}

hr{
	margin-top: 5%;
	margin-bottom: 5%;
	display: none;
	clear:both;
}

div.print{
	text-align: center;
	line-height: 120%;
}