h1, p.one{
	text-align: center;
}

body{
	background-image: url("img/02.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 874px 677px;
}


li{
	display: inline;
	padding-right: 20px
}
p{
	font-size: 82%;
}

ul
{
    text-align: center;
    list-style-type: none;
    font-size: 75%;
}

ul li {
    display: inline;
}
ul a
{
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    margin: 2px;
}
img.displaced{
    position: relative;
    margin-left: 500px
}
div.column1{
	height: 200px;
	width: 300px;
	background-color: rgb(246, 249, 216); 
	text-align: center;
	border-width:thick;
	border-style: dotted;
	border-color: rgb(254, 181, 136);
	-moz-box-shadow: -10px -10px #DEAA8B;
	-webkit-box-shadow: -10px -10px #DEAA8B;
	box-shadow: -10px -10px #DEAA8B;
}
div.column2{
	height: 200px;
	width: 300px;
	background-color: rgb(246, 249, 216); 
	text-align: center;
	border-width:thick;
	border-style: dotted;
	border-color: rgb(254, 181, 136);
	-moz-box-shadow: -10px -10px #DEAA8B;
	-webkit-box-shadow: -10px -10px #DEAA8B;
	box-shadow: -10px -10px #DEAA8B;
	float: right;
}


body{
	font-family: 'georgia', serif;
}
body{
	position: relative;
	left: 100px;
}

h1{
	font-family: 'times', serif;
	font-size: 200%;
}