h1, p.one{
	text-align: center;
}

body{
	background-image: url("img/02.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 874px 677px;
	
}

.container{
	overflow: auto;
	text-align: center;
}

div.portfolio   p{
    visibility: hidden ;
    display: block;
	text-align: center ;
	background-color: rgba(255,255,255, 0.7);
	padding: 3%;

}

div.portfolio:hover p{
    visibility: visible;
	
}

.column1, .column2 {
	padding: 2%;
}

div.column1{
	overflow: auto
	height: 30%;
	max-width: 20%;
	background-color: rgba(255,255,255, 0.7); 
	text-align: center;
	float: left;
	margin-right: 3%;
	margin-left: 26%;
}

div.column2{
	overflow:auto;
	font-size: 87%;
	height: 30%;
	max-width: 30%;
	background-color: rgba(255,255,255, 0.7); 
	text-align: center;
	float: left;
	}


div.column1, div.column2{
	
}

div.footer{
	position: relative;
	margin-top: 500px;
}

li{
	display: inline;
	padding-right: 20px
}
p{
	font-size: 85%;
}

ul
{
    text-align: center;
    list-style-type: none;
    font-size: 75%;
}

ul li {
    display: inline;
}
ul a
{
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    margin: 2px;
}


body{
	font-family: 'georgia', serif;
}

h1{
	font-family: 'times', serif;
	font-size: 200%;
}