h1, p.one{
	text-align: center;
}

body{
	background-image: url("img/02.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 874px 677px;
	
}

.container{
	overflow: auto;
	text-align: center;
	margin: auto;
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
}

img.displaced{
    position: relative;
    margin: auto;
}

div.column1{
	overflow: auto
	height: 200px;
	width: 340px;
	background-color: rgba(246, 249, 216, 0.7); 
	text-align: center;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(254, 181, 136);
	-moz-box-shadow: -10px -10px #DEAA8B;
	-webkit-box-shadow: -10px -10px #DEAA8B;
	box-shadow: -10px -10px #DEAA8B;
	 float: right;
    position: relative;
  left: -50%;
}

div.column2{
	overflow:auto;
	font-size: 87%;
	height: 300px;
	width: 330px;
	background-color: rgba(246, 249, 216,0.7); 
	text-align: center;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(254, 181, 136);
	-moz-box-shadow: -10px -10px #DEAA8B;
	-webkit-box-shadow: -10px -10px #DEAA8B;
	box-shadow: -10px -10px #DEAA8B;
	position: relative;
	float: left;
	top: -20%;
	right: -50% ;
	}


div.column1, div.column2{
	margin: 30px;
}

div.footer{
	position: relative;
	margin-top: 500px;
}

li{
	display: inline;
	padding-right: 20px
}
p{
	font-size: 85%;
}

ul
{
    text-align: center;
    list-style-type: none;
    font-size: 75%;
}

ul li {
    display: inline;
}
ul a
{
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    margin: 2px;
}


body{
	font-family: 'georgia', serif;
}

h1{
	font-family: 'times', serif;
	font-size: 200%;
}