body{
	overflow: auto;
  display: block;
  flex-direction: column;
  padding-right: 14%;
}

div{
   display: block;
   width: 24%;
   height: 300px;
   padding-top: 2.4%;
   padding-left: 2.4%;
   float: left;
}

 @media screen and (max-width: 1024px) {
   div{
    width: 33%;
    height: 200px;
   }


 }